<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transportation Company</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="/css/style.css" rel="stylesheet">
  <style>
    /* Custom CSS */
    .card-title {
      background-color: rgb(12, 213, 203);
      color: white;
      padding: 10px;
      margin-bottom: 20px;
    }
    .options-container {
      margin-top: 20px;
    }
    .option-item {
      margin-bottom: 10px;
      display: flex; /* Display the checkbox and label in a row */
      align-items: center; /* Align items vertically */
    }
    .option-label {
      margin-left: 10px; /* Add some space between the checkbox and the label */
    }
    .total-text {
      font-weight: bold; /* Make the total text bold */
      margin-top: 20px;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Transport Reservation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/reservation">Réservez votre ticket <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/panier">Votre panier</a>
        </li>
      </ul>
  </div>
</nav>

  <div class="container mt-5">
    <h1 class="text-center">Ajout des options:</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Informations générales</h5>
            <p class="card-text">Votre trajet: <%= trajet%></p>
            <p class="card-text">Date Aller : <%= dateDepart%></p>
            <p class="card-text">Heure Aller : <%= heureDepart%></p>
            <p class="card-text">Date Retour : <%= dateArrivee%></p>
            <p class="card-text">Heure Retour : <%= heureRetour%></p>
            <p class="card-text">Prix Aller: <%= prixDepart%>€</p>
            <p class="card-text">Prix Retour: <%= prixRetour%>€</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sélectionner vos options supplémentaires</h5>
            <div class="options-container">
              <form action="/panier" method="post">
                <% options.forEach(option => { %>
                  <div class="option-item">
                    <input type="checkbox" name="ops[]" value="<%= option.nom %> <%= option.prix %>">
                    <label class="option-label"><%= option.nom %> <%= option.prix %> €</label>
                  </div>
                <% }) %>
                <input class="btn btn-primary btn-lg mt-3" type="submit" value="Ajouter au panier">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5 class="total-text text-center mt-4">Total : <span id="total"><%= Number(prixDepart) + Number(prixRetour) %></span> </h5>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
