<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Form</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Transport Reservation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/reservation">Réservez votre ticket <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/panier">Votre panier</a>
          </li>
        </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <h1>Book Your Train Ticket</h1>
    <div class="row">
      <form method="post" class="col-12">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="depart">Départ</label>
            <input type="date" class="form-control" id="depart" name="depart" required 
            <% if (search) { %>
              value="<%=depart%>"
            <% } %>>
          </div>
          <div class="form-group col-md-6">
            <label for="arrivee">Retour</label>
            <input type="date" class="form-control" id="arrivee" name="arrivee" required 
            <% if (search) { %>
              value="<%=arrivee%>"
            <% } %>>
          </div>
        </div>
        <div class="form-group">
          <label for="trajet">Trajet</label>
          <select name="trajet" id="trajet" class="form-control">
            <% trajets.forEach(trajet => { %> 
              <option value="<%= trajet.trajet %>"><%= trajet.trajet %></option> 
            <% }) %>
          </select>
        </div>
        <div class="form-group text-center">
          <label>Retour ?</label>
          <div class="d-flex justify-content-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="retour" id="retourOui" value="true" checked>
              <label class="form-check-label" for="retourOui">Oui</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="retour" id="retourNon" value="false">
              <label class="form-check-label" for="retourNon">Non</label>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="submit" formaction="/reservation/search" class="btn btn-primary">Recherchez</button>
          <button type="submit" formaction="/options" id="confirmer" class="btn btn-primary" style="display: none;">Confirmez votre trajet(Date/heure)</button>
          <br>
        </div>
      </form>
    </div>

    <% if (search) { %>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <div class="trip-section bg-primary text-white p-3">
              <h3>Trajets aller</h3>
              <ul class="list-unstyled">
                <% trajets.forEach (trajet =>{
                  const departs = trajet.depart
                  departs.forEach(depart => {
                    const departpar = JSON.parse(depart)
                %>
                <li class="trip-item">
                  <label> Temps : <%=departpar.temps%></label>
                  <input type="radio" onchange="test()" id="prixdepart" value="<%=departpar.temps%> <%=departpar.prix%>" name ="prixdepart">
                  <label> Prix : <%=departpar.prix%></label>
                </li>
                <% })
                }) %>
              </ul>
            </div>
          </div>
          <% if (retour == "true") { %> 
          <div id="retour" class="col-md-6">
            <div class="trip-section bg-secondary text-white p-3">
              <h3>Trajets retours</h3>
              <ul class="list-unstyled">
                <% trajets.forEach (trajet =>{
                  const arrivees = trajet.arrivee
                  arrivees.forEach(arrivee => {
                    const arriveepar = JSON.parse(arrivee)
                %>
                <li class="trip-item">
                  <label> Temps : <%=arriveepar.temps%></label>
                  <input type="radio" id="prixretour" value="<%=arriveepar.temps%> <%=arriveepar.prix%>" name ="prixretour"\>
                  <label> Prix : <%=arriveepar.prix%></label>
                </li>
                <% })
                  })
                  %>
              </ul>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    <% } %>
    

  <script>
    function test() {
      const confirmerBtn = document.getElementById("confirmer");
      confirmerBtn.style.display = "inline";
    }
  </script>

  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
