<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Room Booking Form</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Transport Reservation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/reservation">Réservez votre ticket<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-9">Selectionnez votre trajet</h2>
      <form  method="post">
        <div class="form-group">
          <label for="depart">Départ</label>
          <input type="date" class="form-control" id="depart"
          <% if (search) { %>
            value="<%=depart%>"
        <% } %>
          
          name="depart" required>
        </div>
        <div class="form-group">
          <label for="arrivee">Arrivée </label>
          <input type="date" class="form-control" id="arrivee" 
          <% if (search) { %>
            value="<%=arrivee%>"
        <% } %>
          
          name="arrivee" required>
        </div>
        <div class="form-group">
          <label for="checkOutDate">Trajet </label>
          <select name="trajet" id="trajet">
            <% trajets.forEach (trajet =>{ %> 
             <option value="<%=trajet.trajet%>"><%=trajet.trajet%></option> 
            <%   } )  %> 

          </select>
        </div>
        
     Retour ? 
     <input type="radio" name="retour" checked value="true"> Oui 
     <input type="radio"  name="retour" value="false"> Non
        <br>

        <button type="submit" formaction="/reservation/search" class="btn btn-primary">Recherchez</button>
      
       
        <button type="submit" formaction="/options" id="confirmer" class="btn btn-primary" style="display: none;" >Confirmez votre trajet(Date/heure)</button>

 

        <% if(search) { %>
       
        <div class="container mt-5">
          <div class="row">
            <div class="col-md-6">
              <div class="bg-primary text-white p-3">
                <h3>Trajets aller</h3>
                <ul>
                <% trajets.forEach (trajet =>{
                  const departs = trajet.depart
                  departs.forEach(depart => {
                    const departpar = JSON.parse(depart)
                    %>
                    <li>
                      <label> Temps : <%=departpar.temps%></label>
                      <input type="radio" onchange="test()" id="prixdepart" value="<%=departpar.temps%> <%=departpar.prix%>" name ="prixdepart">
                      <label> Prix : <%=departpar.prix%></label>
                    </li>
                    <%})
                  })
                %>
                </ul>
              </div>
            </div>
            <% if(retour=="true") { %> 
            <div id ="retour" class="col-md-5">
              <div class="bg-secondary text-white p-3">
              
                <h3>Trajets retours</h3><ul>
                  <% trajets.forEach (trajet =>{
                    const arrivees = trajet.arrivee
                    arrivees.forEach(arrivee => {
                      const arriveepar = JSON.parse(arrivee)
                      %>
                      <li>
                        <label> Temps : <%=arriveepar.temps%></label>
                        <input type="radio" id="prixretour" value="<%=arriveepar.temps%> <%=arriveepar.prix%>" name ="prixretour"\>
                        
                        <label> Prix : <%=arriveepar.prix%></label>
                      </li>
                      <%})
                    })
                  %>
                  </ul>
              </div>
            </div>
            <% } %>
          </div>
        </div>
    </div>
  </div>

  <% }%>

<script>

function test(){
  const confirmerBtn = document.getElementById("confirmer")
confirmerBtn.style.display = "inline"
}


</script>  

<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>